table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
    background: #e94f31;
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 2px solid #ccc; 
  text-align: left; 
}